<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ynu.csistaffsystem.mapper.UserInfoMapper">
    <update id="updatePwdByName">
      update user_info set password = #{password} where login_name = #{loginName}
    </update>

    <select id="queryUser" resultType="ynu.csistaffsystem.dto.UserInfoDTO">
        select id id,
               login_name loginName,
               password password,
               status status,
               create_date createDate,
               update_date updateDate,
               user_name userName,
               face_url faceUrl,
               face_path facePath
        from user_info
        where 1 = 1
        <if test="searchParam!=null">
            <if test="searchParam.name != null">
                and user_info.login_name like concat(concat('%',#{searchParam.name}),'%')
            </if>
        </if>
    </select>
</mapper>